body{
  background: linear-gradient(135deg, #070006,rgb(4, 36, 62));
  
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@357&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@357&family=Lobster&display=swap');
h1 {
  font-size: 50px;
  font-family:cursive;
  color:rgb(224, 149, 36);
   letter-spacing: 0.2em;
}
h3 {
  font-size: 25px;
  font-family:cursive;
  color:rgb(247, 247, 246);
  margin-left: 40%;
  margin-right: 20%;
}

.dropdown{
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(0 ,0 ,0 ,0.2);
  border-radius: 5px;
  overflow:hidden;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  background:rgba(16, 10, 1, 0.833);
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;

}
.down_label,
.down_content{
  padding:14px 20px;
}
.down_label{
  display:block;
  color:rgb(224, 149, 36);
  font-weight:500;
  cursor:pointer;
  position: relative;
  transition: background 0.1s;
}
.down_label:hover{
  background: rgba(0 ,0 ,0 ,0.1);
}
.down_label::after{
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:20px;
  width:12px;
  height:6px;
  background-image:url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size:contain;
  transition: transform 0.4s;
}
.down_content{
  background: rgb(181, 160, 77);
  line-height:1.6;
  font-size:0.85em;
  display:none;
}
.down_input{
  display: none;

}
.down_input:checked ~ .down_content{
  display: block;
}
.down_input:checked ~ .down_label::after{
  transform:translateY(-50%) rotate(0.5turn);
}
.about p{
  font-family: 'Playball';
  font-size: 45px;
  color:whitesmoke;
  margin-top: 10%;
}

@media screen and (max-width:600px){
  h1 {
    font-size: 25px;
    font-family:cursive;
    color:rgb(224, 149, 36);
     letter-spacing: 0.2em;
  }
  
  .dropdown{
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 ,0.2);
    border-radius: 5px;
    overflow:hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background:rgba(16, 10, 1, 0.833);
    margin-left: 2px;
    margin-right: 2px;
  }
  h3 {
    font-size: 20px;
    font-family:cursive;
    color:rgb(247, 247, 246);
    margin-left: 35%;
    margin-right: 25%;
  }
  .about p{
    font-family: 'Playball';
    font-size: 45px;
    color:whitesmoke;
    margin-top: 27%;

}


}