body{
    background: linear-gradient(135deg, #070006,rgb(4, 36, 62));
    
}  

h1 {
    font-size: 50px;
    font-family:cursive;
    color:rgb(224, 149, 36);
     letter-spacing: 0.2em;
}
h3 {
    font-size: 50px;
    font-family:cursive;
    color:rgb(252, 152, 3);
     letter-spacing: 0em;
}
h5 {
    font-size: 28px;
    font-family:cursive;
    color:rgb(247, 247, 246);
     letter-spacing: 0.1em;
}

h4 {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
    color:rgb(177, 69, 23);
    letter-spacing: 0.1em;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@357&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@357&family=Lobster&display=swap');



.wrapping{
    margin: 40px;
    padding: 200px;
    box-sizing: border-box;
}


body{
    font-family:'Josefin Sans', sans-serif;
}
 
.wrapper h2{
    font-family: 'Allura', cursive;
    font-size: 30px;
    margin-bottom: 50px;
    
} 
.wrapper{
    display:flex;
    text-align: center;
    width:4px;
}

.btn{
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: bold;
    background: rgba(0, 1, 8, 0.995);
    width: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    border-radius: 20px; 
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition duration: 0.3s;
    -webkit-transition-property:box-shadow, tranform;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow:0 0 70px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.alt:hover, .alt:focus, .alt:active{
    box-shadow:0 0 70px rgba(2, 4, 26, 0.5);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.pic{
    padding: 100px;;
    box-sizing: border-box;

}

.pic p{
    font-family: 'Allura', cursive;
    font-size: 30px;
    margin-bottom: 0px;
}
.about h3{
    font-family: 'Playball';
    font-size: 45px;
    color:whitesmoke;
}
.row1{
    padding: 100px;;
    box-sizing: border-box;

}
.row1{
    display:flex;
    text-align: center;
    
}
@media screen and (max-width:600px){
    
    
    .wrapper{
        display:contents;
        text-align: center;
        width: 10px;;
}
    .wrapping{
    margin: 40px;
    padding: 20px;
    box-sizing: border-box;
}
    .why{
        display:contents;
        text-align: center;
        width: auto;
        
    }
    
    .row1{
        display:contents;
        text-align: center;
        width: auto;
        
    }

}